<div *ngIf="book" fxLayout="container" fxLayoutAlign="center center">



  <div class="row">
    <h2>Book Title: {{ book.title }} - {{ book.isbn }}</h2>
    <div>
      <p *ngIf="book.isCheckedOut">
        You have borrowed {{numOfThisBookSignedOutByUser}} copies of this book
      </p>
      <p *ngIf="book.isAvailable">
        There are {{numBooksAvailable}} copies available to borrow
      </p>
      <p>The maximum number of books you can check out is 2. You have currently checked out: {{numBooksSignedOut}}</p>
    </div>
  </div>

  <div class="row">
    <button class="mx-auto btn-primary text-white my-2" *ngIf="isCheckedOut" mat-button (click)="returnBook()">Return</button>
    <button class="mx-auto btn-primary text-white my-2" [disabled]="!isAvailable || isMaximumNumberOfBooksSignedOut()" mat-button
      (click)="checkOutBook()">Check out</button>
  </div>



</div>
